.backdrop-blur-md {
  backdrop-filter: blur(10px);
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.bg-gradient-to-r {
  background: linear-gradient(90deg, rgba(29,78,216,1) 0%, rgba(139,92,246,1) 50%, rgba(236,72,153,1) 100%);
}
